body{
  background: url('bg.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
}

section{
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forma {
  padding-left: 70%;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 2%;
  padding: 2%;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(15px);
}

.label {
  color: #ccc;
  display: block;
  margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  }
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

  /* Estilos para a página */

.h1 {
  color: #ccc;
  text-align: center;
  margin-top: 50px;
}